@font-face {
	font-family: 'Satoshi-Medium';
	src: url(../../assets/fonts/Satoshi-Medium-f3222906a574582c0fc6a96674a57684.woff2) format('woff2'),
	url(../../assets/fonts/Satoshi-Medium-16fa0f7001aad738c43e1587bf410053.woff) format('woff'),
	url(../../assets/fonts/Satoshi-Medium-1d9c86003683e45bc89cf0556bfd477a.ttf) format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}